<a href="https://colab.research.google.com/github/Jose-Bruno/VisualizacaoComputacional/blob/main/Jos%C3%A9_Bruno_da_Silva_Santos_Visualiza%C3%A7%C3%A3o_Computacional.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [28]:
import pandas as pd

In [31]:
dados = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Dados/dadosabertos (3).csv', encoding='latin-1', sep=';')

In [32]:
dados.head(23)

    Unnamed: 0  ... Data de Confirmação do Exame
0            0  ...                   13/04/2020
1            1  ...                   14/04/2020
2            2  ...                   14/04/2020
3            3  ...                   14/04/2020
4            4  ...                   14/04/2020
5            5  ...                   08/03/2020
6            6  ...                   18/03/2020
7            7  ...                   18/03/2020
8            8  ...                   18/03/2020
9            9  ...                   19/03/2020
10          10  ...                   21/03/2020
11          11  ...                   23/03/2020
12          12  ...                   27/03/2020
13          13  ...                   27/03/2020
14          14  ...                   05/04/2020
15          15  ...                   27/03/2020
16          16  ...                   23/03/2020
17          17  ...                   24/03/2020
18          18  ...                   27/03/2020
19          19  ...                   28/03/2020
20          20  ...                   13/04/2020
21          21  ...                   28/03/2020
22          22  ...                   04/04/2020

[23 rows x 10 columns]